body {
}
        .style3 {
        }
        
        .style5
        {
            width: 960px;
        }
        .style7
        {
            width: 321px;
            font-weight: 700;
        }
        .style12
        {
            width: 321px;
            font-weight: bold;
        }
        .style13
        {
            text-align: center;
        }

        .style15
        {
            text-align: justify;
            font-weight:normal;
            font-family:Arial;

        }

        .style17
        {
            width: 319px;
        }
        .style18
        {
            width: 144px;
            font-weight: 700;
            text-align: center;
        }
        .style19
        {
            width: 144px;
            font-weight: bold;
            text-align: center;
        }
        .style20
        {
            width: 319px;
            font-weight: bold;
            text-align: center;
        }
        .style21
        {
            text-align: left;
            font-weight: bold;
        }
        .style22
        {
            width: 146px;
            font-weight: bold;
            text-align: center;
        }
        .style23
        {
            width: 321px;
            font-weight: bold;
            text-align: center;
        }
        .style24
        {
            width: 146px;
            font-weight: 700;
            text-align: center;
        }

        .style25
        {
            width: 144px;
            text-align: center;
        }

        .style26
        {
            width: 960px;
            border-style: solid;
            border-width: 1px;
        }
        .style27
        {
            width: 148px;
            font-weight: bold;
            text-align: center;
        }
        .style28
        {
            text-align: left;
            font-weight: bold;
            width: 417px;
        }